body{
font-family: Arial, sans-serif;
text-align:center;
margin:0;
}

.container{
margin-top:60px;
}

fieldset{
text-align: left;
width:300px;
margin:0 auto;
padding:20px;
border:2px solid black;
}

legend{
font-weight:bold;
text-align: left;
}

input{
padding:8px;
width:280px;
}
