body{
    background-color: aquamarine;
}
h1{
    color: blue;
    font-size: 56px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    text-align: center;
}
#PatientName{
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;

}
label{
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
}
.navbar{
    font-size: 40px;
}
*{
    color: black;
    text-align: left;
}
form{
    width: 700px;
    border: 10px blue;
    border-radius: 20px;
    margin: 0;
    padding: 50px;
    background-color: white;
}
input[type="text"],input[type="number"],input[type="date"],select, textarea{
    color: black;
    margin: 10px;
    padding: 10px;
    width: 500px;
}
input[type="radio"]
{
    font-size: 50px;
    align-content: center;
    padding: 0 auto;
    margin: 20px;
}

